.container {
    display: flex;
    height: 110vh;
    background-color: #f9f9f9;
  }
  
  .content {
    padding: 2rem;
    flex: 1; /* Para ocupar o restante do espaço */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  
  @media (max-width: 768px) {
    .ordersList {
      grid-template-columns: 1fr;
    }
  
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  