/*font-family: "DM Serif Text", serif;*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
/*font-family: "Roboto", serif;*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.logo-image {
  width: 100%; 
  max-width: 600px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  animation: bounce-smooth 2s ease-in-out infinite; 
}

/* Sombra abaixo da imagem */
.logo-shadow {
  width: 50%; 
  height: 20px; 
  background: rgba(0, 0, 0, 0.3); 
  border-radius: 50%; 
  position: relative; 
  top: 10px; 
  margin: 0 auto; 
  animation: shadow-opacity 2s ease-in-out infinite; 
}

/* Animação de bounce para a imagem */
@keyframes bounce-smooth {
  0% {
      transform: translateY(0) scale(1); /* Imagem no tamanho original */
  }
  50% {
      transform: translateY(-20px) scale(1.2); /* Imagem sobe e aumenta 50% */
  }
  100% {
      transform: translateY(0) scale(1); /* Imagem volta ao tamanho original */
  }
}

/* Animação de opacidade para a sombra */
@keyframes shadow-opacity {
  0% {
      background: rgba(0, 0, 0, 0.3); 
      transform: scale(1); 
  }
  50% {
      background: rgba(248, 170, 209, 0); 
      transform: scale(1.5); 
  }
  100% {
      background: rgba(0, 0, 0, 0.3); 
      transform: scale(1); 
  }
}

.fontRobo{
 font-family: "Roboto", serif;
}

.fontDM{
  font-family: "DM Serif Text", serif;
}