@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fontRobo {
  font-family: var(--font-roboto);
}

.fontQuick {
  font-family: var(--font-quicksand);
}

/* Chrome, Safari, Opera */
input[type="password"]::-webkit-password-reveal-button {
  display: none;
}

/* Edge, IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Caso queira tirar também qualquer decoração nativa */
input[type="password"] {
  appearance: none;
  -webkit-appearance: none;
}
